.Footer {
    background-color: #2D2D2D;
    color: white;
    height: 88px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100vw;
    position: fixed;

    p {
        text-align: center;
    }
}