.Footer {
    background-color: #2D2D2D;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-top: 45px;

    p {
        text-align: center;
    }
}