.Footer {
    background-color: #2D2D2D;
    color: white;
    height: 88px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 32px;
    gap: 16px;
    bottom: 0;
    width: 100vw;
    position: fixed;
}