@import '../../vars';

.Header {
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent, transparent, rgba(0, 0, 0, 0.15)), $medium_dark_c;
    color: $light_c;
    height: 64px;
    font-size: 24px;
    font-family: $font_script;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 32px;
    text-shadow: 1px 1px 2px black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .Logo {
        display: flex;
        align-items: center;
        gap: 16px;

        &:hover {
            cursor: pointer;
            color: $accent_c;
            transform: scale(1.05);
            transition: transform 0.5s ease;
            transition: color 0.3s ease;

        }
    }

    .Button-end {

        button {
            background-color: rgba(indianred, 0.85);
            color: $light_c;
            border: none;
            padding: 4px 8px;
            border-radius: 3px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color:  rgba(indianred, 0.65);
            }
        }


    }
}