@import '../../vars';

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;

    .modal-content {
        pointer-events: all;
        position: relative;
        width: 50%;
        max-height: 50%;
        background-color: rgba($hard_dark_c, 0.75);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .iconClose {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            color: white;
            cursor: pointer;

            &:hover {
                color: #f1f1f1;
                transform: scale(1.2);
            }
        }
    

        .textWrapper {
            overflow: auto;
            margin: 0;
            padding: 10px;
            line-height: 1.5;
            color: white;
            text-align: justify;
            white-space: pre-wrap;

            &::-webkit-scrollbar {
                width: 10px;
              }
    
              &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 5px;
              }
    
              &::-webkit-scrollbar-thumb {
                background: #2D2D2D;
                border-radius: 5px;
              }
    
              &::-webkit-scrollbar-thumb:hover {
                background: #161616;
              }
        }
    }

    &.open {
        display: flex;
    }

    &.close {
        display: none;
    }
}