.Endgame {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Arial', sans-serif;
  
    .Body-endgame {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
  
      background-image: url('../../assets/enquete.png');
      background-size: cover; /* L'image couvre tout l'espace */
      background-position: center; /* Centre l'image */
      background-repeat: no-repeat; /* Empêche la répétition */
  
      .end-game__container {
        text-align: center;
        background-color: rgba(37, 37, 37, 0.9); /* Fond semi-transparent */
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
        padding: 20px;
        max-width: 800px;
        width: 100%;
        margin-bottom: 20px;
      }
  
      .end-game__title {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #0779ce;
      }
  
      .end-game__trophy {
        margin: 20px 0;
  
        img {
          width: 100px;
          height: auto;
        }
      }
  
      .end-game__time {
        font-size: 1.5rem;
        color: #b3b3b3;
        margin-bottom: 30px;
      }
  
      .end-game__description {
        text-align: left;
        font-size: 1.2rem;
        line-height: 2;
        background-color: #333;
        padding: 20px;
        border-radius: 5px;
  
        p {
          margin: 10px 0;
  
          strong {
            color: #0779ce;
          }
        }
      }
  
      .end-game__button {
        background-color: #0779ce;
        color: #1e1e1e;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0779ce;
        }
      }
    }
  }
  