$light_c: #FFFAE8;
$medium_light_c: #C9C1B4;
$medium_dark_c: #3F3C38;
$hard_dark_c: #242321;
$accent_c: #F05754;
$font_script: "Berkshire Swash", serif;
$font_lato: "Lato", serif;
$fw_reg: 400;
$fw_bold: 700;