@import '../../vars';

$primary-color: $hard_dark_c;
$secondary-color: rgba($hard_dark_c, 0.75);
$accent-color: rgba($hard_dark_c, 0.75);
$font-family: 'Arial', sans-serif;

.Game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Body-game {
  flex: 1;

  .Top {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    padding: 20px;
  }

  button {
    background-color: $accent_c ;
    color: $light_c;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;


    &:hover {
      background-color: rgba($accent_c, 0.5);
    }

    transition: background-color 0.2s ease-in-out;

    &:disabled {
      background-color: $medium_light_c;
      cursor: default;
    }

    svg {
      margin-right: 15px;
      height: 15px;
      width: 15px;
    }

    .loader {
      display: flex;
      align-items: center;
      gap: 8px;

      &::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: 2px solid $light_c;
        border-top: 2px solid transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .Description {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    h1 {
      font-family: $font_script;
      font-size: 2rem;
      text-align: center;
      color: $accent_c;
      padding-bottom: -20px;
      text-shadow: 1px 1px 2px black;
    }

    .bloc_scenario {
      border-radius: 6px;
      font-size: 1em;
      text-align: justify;
      color: $light_c;

      .texte {
        margin: 0;
        white-space: pre-line;
        text-align: justify;
      }
    }
  }

  .userDecision {
    background-color: $secondary-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid rgba(255, 255, 255, 0.3);

    .temoignage,
    .accusation {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 20px;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
          width: 270px;
          padding: 10px;
          font-size: 1rem;
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        }

        button {
          width: 250px;
        }

        a {
          span {
            margin-left: 15px;
          }

          &:hover {
            color: rgba($light_c, 0.5);
          }

          transition: color 0.2s ease-in-out;
        }
      }

      .histoTemoin {
        background-color: rgba($light_c, 0.0);
        font-weight: bold;

        &:hover {
          color: rgba($light_c, 0.5);
        }
      }

      h2 {
        font-size: 1.5rem;
        color: $light_c;
        text-shadow: 1px 1px 2px black;
        text-align: center;
      }
    }

    .accusation {
      .accusation-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .userDecision {
    gap: 20px;
  }

  .Description {
    max-width: 50%;
  }
}